<ul>
  <li class="left"><img src="../../assets/images/mLogo.png" height="43" style="margin:0px 50px" alt=""></li>
  <li class="left"><a routerLink="/Form-Generator" class="login" href="">Form-Generator</a></li>
  <li class="left"><a routerLink="/Form">Form</a></li>
  <li class="left"><a routerLink="/Help">Help</a></li>

</ul>
