

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 10px;
}

li {
  margin:0 3px;
  font-size:15px;
  float: left;
}
li.left a{
  float:left;
  min-width: 40px;
  text-align: center;
  padding: 10px 8px;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-weight: 500;
}
