
.name-form-field {
  width: 200px;
}

h3 {
  text-align: center;
}

.row {
  padding: 30px 0;
}

.box {

  padding: 20px;
  div.content {
    min-height: 300px;
    padding: 20px;
    border-radius: 9px;
    background: #424242;
    box-shadow:  10px 10px 20px #393939,
                 -10px -10px 20px #4b4b4b;
  }
}

div.line {

  position: relative;
  width: 100%;
  padding: 10px;

  .controls {
    div {
      display: inline-block;
      margin:3px 8px 8px 8px;
    }
  }

  .space {
    position: relative;
    width: 100%;
    min-height: 64px;
    box-sizing: border-box;
    padding: 20px 10px;
    border-radius: 13px;
    background: #424242;
    box-shadow:  6px 6px 12px #393939,
             -6px -6px 12px #4b4b4b;
    cursor: pointer;

      h4 {
        text-align: center;
        margin: 0;;
      }
  }

}
