
<div class="row animate__animated animate__backInDown">
  <div class="col-md-4 box">


    <h2> click <mat-icon>add</mat-icon> to  add a setting for field</h2>
    <hr>
    <h4>
      you can add a type, name , label, description, ... for any filed
    </h4>
    <h4>
      if you need to add a new line in form , you can go to lines step (step 1) and add a new line
    </h4>
    <h4>
      after you add a favorite setting for any lines go to next step to save form
    </h4>
  </div>

  <div class="col-md-8 box ">
      <div class="content">
        <h3>preview form</h3>
        <hr>
        <div class="line " *ngFor="let item of lines; index as i">
          <div *ngIf="lines.length > 1" class="controls">
            <div *ngIf="lines.length > 1">
              <button  *ngIf="i == selectedIndex"  mat-mini-fab color="primary" (click)="openDialog(i)">
                <mat-icon>check
                </mat-icon>
              </button>
              <button *ngIf="i != selectedIndex" mat-mini-fab color="warn" (click)="openDialog(i)">
                <mat-icon>check_box_outline_blank
                </mat-icon>
              </button>
            </div>
          </div>
          <div class="space {{item.className}}" (click)="openDialog(i)">
            <h4>
              <span   *ngIf="!item.name" > click to add a control
                            <mat-icon class="animate__animated animate__infinite animate__heartBeat">add  </mat-icon>
            </span>
              {{item.name}}
            </h4>
          </div>

        </div>

      </div>

  </div>
</div>
