

<div class="row animate__animated animate__backInDown">
  <div class="col-md-4 box">
    <div>
      <h2>
        select number of lines in this form
      </h2>
      <span>add a new line : </span>
      <button mat-mini-fab color="primary" (click)= "addLines()">
        <mat-icon>add</mat-icon>
      </button>
      <hr>
      <h4>
        you can change position of lines in this step
      </h4>
      <h4>
        after add favorite lines go to next step to add setting for any fields
      </h4>
    </div>

  </div>
  <div class="col-md-8 box">

    <div class="content">
      <h3>form preview

      </h3>
      <hr>

      <div class="line animate__animated animate__zoomIn" *ngFor="let item of lines; index as i">
        <div *ngIf="lines.length > 1" class="controls">
          <div  *ngIf="i < lines.length - 1">
            <button color="primary" mat-mini-fab (click)= "moveLine(i, i+1)">
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
          <div *ngIf="i > 0">
            <button color="primary" mat-mini-fab (click)= "moveLine(i, i-1)">
              <mat-icon>arrow_upward</mat-icon>
            </button>
          </div>
          <div *ngIf="lines.length > 1" style="float: right;">
            <button  mat-mini-fab color="warn" (click)= "deleteLine(i)">
              <mat-icon>delete
              </mat-icon>
            </button>
          </div>
        </div>
        <div class="space {{item.className}} ">
            <h4>
              {{item.name}}
            </h4>
        </div>
      </div>
    </div>

  </div>
</div>
