<div class="container">

  <div  class="row justify-content-md-center">
    <div class="col-md-6 " >
      <div class="box">
        <div class="content">
          <div class="role">
            <!-- <h2>{{role}}</h2> -->
            <h3>select a role for test:</h3>
            <h5>if a field has not a role, by default is admin</h5>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="role">
              <mat-radio-button class="radio-margin" *ngFor="let item of roleList" value="{{item}}"> {{item}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <hr>
          <form [formGroup]="formGroup">
            <h2 *ngIf="form">{{form.name}} </h2>
            <hr>

            <div class="line" *ngFor="let item of form.lines; index as i">

                <div class="" [ngSwitch]="item.option.type">

                  <div *ngIf="roleHandle(item.option.role)" class="role">
                    <h4>
                      {{item.option.description}}
                    </h4>

                    <!-- ==== text fied ==== -->
                    <div *ngSwitchCase="'text'" >
                      <mat-form-field appearance="fill" class="full-width">

                        <mat-label >{{item.option.label}}</mat-label>
                        <input matInput type="text" formControlName="{{item.name}}"
                                                    [required]="item.option.required"
                                                    readonly = "{{disableHandle(item.option.role)}}"
                                                    >

                        <mat-error *ngIf="formGroup.controls[item.name].hasError(item.option.validator)
                                          && !formGroup.controls[item.name].hasError('required')">
                          Please enter a valid {{item.name}}
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls[item.name].hasError('required')">
                          {{item.name}} is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                      <br>
                    </div>
                    <!-- == end text fied == -->

                    <!-- ==== date fied ==== -->
                    <div *ngSwitchCase="'date'"  >
                      <mat-form-field appearance="fill" class="full-width">
                        <mat-label >{{item.option.label}}</mat-label>
                        <input matInput type="date" formControlName="{{item.name}}"
                                        [required]="item.option.required"
                                        readonly = "{{disableHandle(item.option.role)}}">
                        <mat-error *ngIf="formGroup.controls[item.name].hasError('required')">
                          {{item.name}} is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- == end date fied == -->

                    <!-- ==== number fied ==== -->
                    <div *ngSwitchCase="'number'" >
                      <mat-form-field appearance="fill" class="full-width">
                        <mat-label >{{item.option.label}}</mat-label>
                        <input matInput type="number" formControlName="{{item.name}}"
                               [required]="item.option.required"
                               readonly = "{{disableHandle(item.option.role)}}">
                        <mat-error *ngIf="formGroup.controls[item.name].hasError(item.option.validator)
                                          && !formGroup.controls[item.name].hasError('required')">
                          Please enter a valid {{item.name}}
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls[item.name].hasError('required')">
                          {{item.name}} is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- == end number fied == -->

                    <!-- ==== textarea fied ==== -->
                    <div *ngSwitchCase="'textarea'">
                      <mat-form-field appearance="fill" class="full-width"
                                      [hideRequiredMarker]="false" >
                          <mat-label>{{item.option.label}}</mat-label>
                          <textarea matInput formControlName="{{item.name}}"
                                    [required]="item.option.required"
                                    readonly = "{{disableHandle(item.option.role)}}"></textarea>
                          <mat-error *ngIf="formGroup.controls[item.name].hasError(item.option.validator)
                                            && !formGroup.controls[item.name].hasError('required')">
                            Please enter a valid {{item.name}}
                          </mat-error>
                          <mat-error *ngIf="formGroup.controls[item.name].hasError('required')">
                            {{item.name}} is <strong>required</strong>
                          </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- == end textarea fied == -->

                    <!-- ==== html fied ==== -->
                    <div *ngSwitchCase="'html'">
                      <mat-form-field appearance="fill" class="full-width"
                                      [hideRequiredMarker]="false">
                        <mat-label>{{item.option.label}}</mat-label>
                        <textarea matInput formControlName="{{item.name}}"
                        [required]="item.option.required"
                        readonly = "{{disableHandle(item.option.role)}}"></textarea>
                        <mat-error *ngIf="formGroup.controls[item.name].hasError(item.option.validator)
                                          && !formGroup.controls[item.name].hasError('required')">
                          Please enter a valid {{item.name}}
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls[item.name].hasError('required')">
                          {{item.name}} is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- == end html fied == -->

                    <!-- ==== radio fied ==== -->
                    <div *ngSwitchCase="'radio'">

                      <mat-radio-group aria-label="Select an option" formControlName="{{item.name}}" >
                        <mat-radio-button class="radio-margin"
                                          *ngFor="let op of item.option.option"
                                          value="{{op.value}}">
                                          {{op.label}}
                        </mat-radio-button>
                        <br>
                        <mat-error *ngIf="formGroup.controls[item.name].hasError('required')">
                          please select a option
                        </mat-error>

                      </mat-radio-group>
                    </div>
                    <!-- == end radio fied == -->

                    <!-- ==== checkbox fied ==== -->
                    <div *ngSwitchCase="'checkBox'">

                      <mat-checkbox class="check-margin" formControlName="{{item.name}}"
                                                        [required]="item.option.required" >
                              {{item.option.label}} <sup  *ngIf="formGroup.controls[item.name].hasError('required')"> *</sup>


                      </mat-checkbox>

                    </div>
                    <!-- == end checkbox fied == -->

                    <!-- ==== select fied ==== -->
                    <div *ngSwitchCase="'select'">
                      <mat-form-field appearance="fill" class="full-width">
                        <mat-label>{{item.option.label}}</mat-label>
                        <mat-select formControlName="{{item.name}}" >
                          <mat-option *ngFor="let op of item.option.option" [value]="op.label">
                            {{op.label}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.controls[item.name].hasError('required')">
                          {{item.name}} is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- == end select fied == -->

                    <b *ngSwitchDefault>there is no field</b>
                  </div>

                </div>
            </div>

            <div class="line" style="float: right">
              <button mat-raised-button  color = "primary"
              (click)="register()">register</button>
            </div>
        </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">

    <div class="message">
      <h4 *ngIf="message1">1- {{message1}}</h4>
      <h4 *ngIf="message2">2- {{message2}}</h4>
      <h4 *ngIf="message3">3- {{message3}}</h4>
    </div>
  <hr>
  <div *ngIf="res" class="table">
    <table >
      <thead>
        <tr>
          <th *ngFor="let item of keys">
            {{item}}
          </th>
        </tr>
      </thead>

      <tr>
        <td *ngFor="let item of res">
          {{item}}
        </td>
      </tr>
    </table>
  </div>

</div>

<!-- <app-table></app-table> -->

