
.check-margin, .radio-margin {
  margin: 0 10px;
}

.full-width {
  // width: 100%;
}

.box {
  padding:  20px ;
  div.content {
    min-height: 100px;
    padding: 20px 20px 50px 20px;
    border-radius: 9px;
    background: #424242;
    box-shadow:  10px 10px 20px #393939,
                 -10px -10px 20px #4b4b4b;
  }
}
div.message {
  h4 {
    text-align: center;
  }
}

div.table {
  border-radius: 9px;
  background: #424242;
  box-shadow:  10px 10px 20px #393939,
               -10px -10px 20px #4b4b4b;
               padding: 25px;
  table {
    background-color: #424242;
    width:100%;
  }
  th {
    color: hsla(0,0%,100%,.7);
    text-align: center;

  }
  td {
    text-align: center;
  }
}
