
<div class="row animate__animated animate__backInDown">
  <div class="col-md-4 box">
    <h2>please type a name for this form</h2>
    <mat-form-field class="name-form-field">
      <mat-label>form's name</mat-label>
      <input matInput type="text" [(ngModel)]="formsName">
      <button *ngIf="formsName" matSuffix mat-icon-button aria-label="Clear" (click)="formsName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <hr>
    <div>
      <span>save the form : </span>
      <button mat-raised-button color="primary" (click)="save()">
        save
      </button>
    </div>
  </div>

  <div class="col-md-8 box">

    <div class="content">
      <h3 >{{formsName}} </h3>
      <hr>

      <div class="line" *ngFor="let item of lines; index as i">
          <div class="" [ngSwitch]="item.option.type">
            <h4>
              {{item.option.description}}
            </h4>

            <!-- ==== text fied ==== -->
            <div *ngSwitchCase="'text'" >
              <mat-form-field appearance="fill" class="full-width">
                <mat-label >{{item.option.label}}</mat-label>
                <input matInput type="text"  [required]="item.option.required">
              </mat-form-field>
            </div>
            <!-- == end text fied == -->

            <!-- ==== date fied ==== -->
            <div *ngSwitchCase="'date'"  >
              <mat-form-field appearance="fill" class="full-width">
                <mat-label >{{item.option.label}}</mat-label>
                <input matInput type="date"  [required]="item.option.required">
              </mat-form-field>
            </div>
            <!-- == end date fied == -->

            <!-- ==== number fied ==== -->
            <div *ngSwitchCase="'number'" >
              <mat-form-field appearance="fill" class="full-width">
                <mat-label >{{item.option.label}}</mat-label>
                <input matInput type="number"  [required]="item.option.required">
              </mat-form-field>
            </div>
            <!-- == end number fied == -->

            <!-- ==== textarea fied ==== -->
            <div *ngSwitchCase="'textarea'">
              <mat-form-field appearance="fill" class="full-width"
                              [hideRequiredMarker]="false" >
                  <mat-label>{{item.option.label}}</mat-label>
                  <textarea matInput  [required]="item.option.required"></textarea>
              </mat-form-field>
            </div>
            <!-- == end textarea fied == -->

            <!-- ==== html fied ==== -->
            <div *ngSwitchCase="'html'">
              <mat-form-field appearance="fill" class="full-width"
                              [hideRequiredMarker]="false">
                <mat-label>{{item.option.label}}</mat-label>
                <textarea matInput  [required]="item.option.required"></textarea>
              </mat-form-field>
            </div>
            <!-- == end html fied == -->

            <!-- ==== radio fied ==== -->
            <div *ngSwitchCase="'radio'">

              <mat-radio-group aria-label="Select an option">
                <mat-radio-button class="radio-margin" *ngFor="let op of item.option.option" value="{{op.value}}">{{op.label}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <!-- == end radio fied == -->

            <!-- ==== checkbox fied ==== -->
            <div *ngSwitchCase="'checkBox'">
              <mat-checkbox class="check-margin" [required]="item.option.required">{{item.option.label}}</mat-checkbox>
            </div>
            <!-- == end checkbox fied == -->

            <!-- ==== select fied ==== -->
            <div *ngSwitchCase="'select'">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{item.option.label}}</mat-label>
                <mat-select>
                  <mat-option *ngFor="let op of item.option.option" [value]="op.value">
                    {{op.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- == end select fied == -->

            <b *ngSwitchDefault>please select a type for fields</b>
            <hr>
          </div>
      </div>
    </div>

  </div>
</div>
