
.check-margin, .radio-margin {
  margin: 0 10px;
}
h3 {
  text-align: center;
}

.row {
  padding: 30px 0;
}

.box {
  padding: 20px;
  div.content {
    min-height: 300px;
    padding: 20px;
    border-radius: 9px;
    background: #424242;
    box-shadow:  10px 10px 20px #393939,
                 -10px -10px 20px #4b4b4b;
  }
}

.line {
  position: relative;
  width: 100%;
  min-height: 64px;
  box-sizing: border-box;
  padding: 0px 15px;
  margin: 15px 0;
    h4 {
      margin: 0;;
    }
}
