
  <h1>
    select a favorite field
  </h1>
  <hr>
 <!-- ==== select field ==== -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="lines[index].option.type">
      <mat-option>None</mat-option>
      <mat-option value="number">number</mat-option>
      <mat-option value="text">text</mat-option>
      <mat-option value="textarea">textarea</mat-option>
      <mat-option value="html">html</mat-option>
      <mat-option value="date">date</mat-option>
      <mat-option value="select">select</mat-option>
      <mat-option value="radio">radio</mat-option>
      <mat-option value="checkBox">checkBox</mat-option>
    </mat-select>
  </mat-form-field>
 <!-- == End select field == -->
  <hr>
  <!-- ==== dialog content ==== -->
  <mat-dialog-content class="mat-dialog-content">
      <div *ngIf="lines[index].option.type">
        <div >

          <div class="row">
                    <!-- ==== name ==== -->
                    <div class="col-md-6">
                      <mat-form-field  >
                        <mat-label>field name</mat-label>
                        <input matInput type="text" [(ngModel)]="lines[index].name">
                      </mat-form-field>

                    </div>
                  <!-- ==== label ==== -->
                  <div class="col-md-6">
                    <mat-form-field  >
                      <mat-label>field label</mat-label>
                      <input matInput type="text" [(ngModel)]="lines[index].option.label">
                    </mat-form-field>
                  </div>
          </div>
          <!-- ==== description ==== -->
          <mat-form-field class="full-width" >
            <mat-label>description</mat-label>
            <textarea matInput placeholder="description" [(ngModel)]="lines[index].option.description"></textarea>

          </mat-form-field>
          <!-- ==== requierd ==== -->
          <br>
          <mat-checkbox [(ngModel)]="lines[index].option.required">requierd</mat-checkbox>
          <hr>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>role</mat-label>
                <mat-select [(value)]="lines[index].option.role" >
                  <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>


          <div class="row">
            <!-- ==== validator ==== -->
            <div class="col-md-6">
              <mat-form-field *ngIf="lines[index].option.type != 'select' && lines[index].option.type != 'radio'">
                <mat-label>Select a validator</mat-label>
                <mat-select [(value)]="lines[index].option.validator">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let validator of validators" value="{{validator}}">{{validator}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- ==== showFormat ==== -->
            <div class="col-md-6">
              <mat-form-field   *ngIf="lines[index].option.type != 'select' && lines[index].option.type != 'radio'">
                <mat-label>Select a format to view</mat-label>
                <mat-select [(value)]="lines[index].option.showFormat">
                  <mat-option>None</mat-option>
                  <mat-option value="commaSeprator">comma seprate</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <!-- ==== radio ==== -->
          <ng-container *ngIf="lines[index].option.type == 'radio'">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button *ngFor="let item of lines[index].option.option"
                                value="{{item.value}}" class="radio-margin">
                      {{item.label}}
              </mat-radio-button>
            </mat-radio-group>

            <h3>add a radio button</h3>
            <hr>
            <div class="row">
              <!-- ==== label for radio==== -->
              <div class="col-md-6">
                <mat-form-field  >
                  <mat-label>radio label</mat-label>
                  <input matInput type="text" [(ngModel)]="radiolabel" >
                </mat-form-field>
              </div>
             <!-- ==== value for radio==== -->
              <div class="col-md-6">
                <mat-form-field  >
                  <mat-label>radio value</mat-label>
                  <input matInput type="text" [(ngModel)]="radioValue">
                </mat-form-field>
              </div>
            </div>
            <br>
            <button mat-raised-button  (click)="addNewRadio()">add new radio</button>
            <br>
          </ng-container>
          <!-- == End Radio == -->

          <!-- ==== select ==== -->
            <ng-container *ngIf="lines[index].option.type == 'select'">

              <ng-container *ngIf="lines[index].option.option.length">
                <hr>
                <h3>preview</h3>
                <mat-form-field appearance="fill">
                  <mat-label>{{lines[index].option.label}}</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let item of lines[index].option.option" [value]="item.value">
                      {{item.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
             </ng-container>

              <hr>
              <h3>add a new option</h3>


              <div class="row">
              <!-- ==== label for select==== -->
                <div class="col-md-6">
                  <mat-form-field  >
                    <mat-label>option label</mat-label>
                    <input matInput type="text" [(ngModel)]="optionlabel">

                  </mat-form-field>
                </div>
                <!-- ==== value for select ==== -->
                <div class="col-md-6">
                  <mat-form-field >
                    <mat-label>option value</mat-label>
                    <input matInput type="text" [(ngModel)]="optionValue">

                  </mat-form-field>
                </div>
              </div>
              <br>
              <button mat-raised-button color="" (click)="addNewOption()">add new option</button>
              <br>
          </ng-container>
          <!-- == End select == -->
        </div>
        <hr>
        <div class="row" style="float: right;">
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-raised-button [mat-dialog-close]="true" color = "primary"
                  cdkFocusInitial (click)="register()">register</button>
        </div>
      </div>
  </mat-dialog-content>
  <!-- == End dialog content == -->




