/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$primary: #e91e63;
@font-face {
  font-family: vazir;
  src: url('../src/assets/fonts/Vazir-Bold-FD.ttf');
}

html, body { height: 100%; background-color: #424242;}
* {
  color:white;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



nav {
  background-color:$primary;
  width: 100%;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  margin-bottom: 20px;
}
hr {

  border-color: #595959;
}

.mat-snack-bar-container span{
  color:rgba(0,0,0,.87) !important;
  font-family: Roboto,Helvetica Neue,sans-serif;
}
