
.box {
  padding:  20px ;
  div.content {
    min-height: 100px;
    padding: 20px 20px 50px 20px;
    border-radius: 9px;
    background: #424242;
    box-shadow:  10px 10px 20px #393939,
                 -10px -10px 20px #4b4b4b;
  }
  h2,h4  {
    font-family: vazir;
    text-align:right
  }
  ol {
    padding: 15px;
  }
  li {
    direction: rtl;
    font-size: 13px;
    margin: 10px;
    text-align: justify;
    font-family: vazir;
    font-weight: 300;
  }
}
