
<div class="container">

  <div  class="row justify-content-md-center">
    <div class="col-md-6 " >
      <div class="box">
        <div class="content">
          <h2>
            مراحل ایجاد یک فرم به شرح ذیل میباشد
          </h2>

          <ol>
            <li>
              ایجاد تعداد سطر های فرم مورد نظر امکان جابجایی خطوط ( این تعداد قابل تغییر در مراحل بعد نیز میباشند )

            </li>
            <li>
              تعریف مقدار برای سطر های ایجاد شده به اینصورت که ابتدا type سطر انتخاب میشود و نام فیلد و نام قابل نمایش فیلد و توصیحات آن وارد میشود . میتوان برای فیلد های مورد نظر ولیدشن های خاص انتخاب کرد و یا امکانی مانند نحوه خاصی از نمایش  را افزود .

            </li>
            <li>
              پس از تعریف مقادیر اگر نیاز به جابجایی در نمایش اطلاعات در فرم باشد میتوان به مرحله اول باز گشت و با دکمه های جهت نما ترتیب فیلد ها را جابجا و یا کم و زیاد کرد .
            </li>
            <li>
              در مرحله بعد برای فرم یک نام انتخاب میشود و دکمه save زده میشود
            </li>
            <li>
              پس از save در منو form , فرم ایجاد شده قابل رویت میباشد
            </li>
          </ol>

          <hr>

          <h2>
            سطح دسترسی
          </h2>

          <h4>
            در اینجا سه نقش وجود دارد
          </h4>

          <ol>
            <li>Admin</li>
            <li>costumer</li>
            <li>Guest</li>
          </ol>

          <ol>
            <li> ادمین می تواند تمامی فیلد ها را مشاهده و ویرایش نماید.</li>
            <li> مشتری تمام فیلد ها را مشاهده می نمایید ولی تنها فیلد هایی را می توانند ویرایش کند که نقش مشتری دارد.</li>
            <li>
              میهمان تنها فیلدهایی که نقش میهمان دارند را مشاهده و امکان ویرایش دارد.
            </li>
          </ol>


        </div>
      </div>
    </div>
  </div>
</div>


