

<div class="container ">


    <!-- #docregion states -->
    <mat-horizontal-stepper>
      <!-- #docregion label -->
        <mat-step label="add Lines" state="add">
          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
          <hr>
          <div>
            <app-basic-form></app-basic-form>
          </div>

        </mat-step>
      <!-- #enddocregion label -->
        <mat-step label="controls" state="playlist_add">
          <div>
            <button class="mat-raised-buttom" mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button class="mat-raised-buttom" mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
          <hr>
           <app-controls></app-controls>
        </mat-step>
        <mat-step label="save" state="save">
          <div>
            <button class="mat-raised-buttom" mat-raised-button color="primary" matStepperPrevious>Back</button>
          </div>
          <hr>
          <app-save></app-save>
        </mat-step>
      </mat-horizontal-stepper>
    <!-- #enddocregion states -->
</div>


